@tailwind base;
@tailwind components;
@tailwind utilities;

@layer responsive {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}


/* writing mode */

.vertical-heading{
   writing-mode: vertical-rl; 
  text-orientation: upright; 
  white-space: nowrap; 
}

.border-custom{
  border-style: outset;
  border-width: 2px;
  border-color: #212121;
}